.app-timer {
  position: relative;
  background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
  box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
  border-radius: 400px;
  margin-bottom: 6.3rem;
}

.app-timer__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.app-timer__time {
  margin: 0;
}

.app-timer__btn {
  color: var(--light-gray);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 15px;
  text-transform: uppercase;
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--primary-colour-active);
  }
}
